html {
  height: 100%; /* Fallback CSS for IE 4-6 and older browsers. Note: Without this setting, body below cannot achieve 100% height. */
  height: 100vh; /* Overrides 100% height in modern HTML5 browsers and uses the viewport's height. Only works in modern HTML5 browsers */
}

body {
  height: auto; /* Allows content to grow beyond the page without overflow */
  width: auto; /* Allows content to grow beyond the page without overflow */
  min-height: 100%; /* Starts web page with 100% height. Fallback for IE 4-6 and older browsers */
  min-height: 100vh; /* Starts web page with 100% height. Uses the viewport's height. Only works in modern HTML5 browsers */
  overflow-y: scroll; /* Optional: Adds an empty scrollbar to the right margin in case content grows vertically, creating a scrollbar.  Allows for better width calculations, as the browser pre-calculates width before scrollbar appears, avoiding page content shifting.*/
  margin: 0;
  padding: 0;
  display: flex;
}

/* Style Index */
#name-form {
  left: 45%;
  top: 40%;
  position: absolute;
}

/* Style Movie List */
#movie-list-container {
	position: relative;
	left: 5%;
	top: 8vh;
}

/* Style Room */

/* video and user list style */
#room-left-container {
  display: block;
  width: 50%;
}

#video-user-list-container {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

/* video style */
#video {
  width: 100%;
}

#video-container {
  width: 100%;
  position: relative;
}

#video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: linear-gradient(
    bottom,
    rgb(3, 113, 168) 13%,
    rgb(0, 136, 204) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(3, 113, 168) 13%,
    rgb(0, 136, 204) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(3, 113, 168) 13%,
    rgb(0, 136, 204) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(3, 113, 168) 13%,
    rgb(0, 136, 204) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(3, 113, 168) 13%,
    rgb(0, 136, 204) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, rgb(3, 113, 168)),
    color-stop(1, rgb(0, 136, 204))
  );
}

#video-container:hover #video-controls {
  opacity: 0.9;
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

#seek-bar {
  width: 65%;
}

#volume-bar {
  width: 20%;
}

/* Chat box style */
#chat-box {
  width: 100%;
  height: 30%;
}

#messages {
  position: relative;
  height: 90%;
  overflow-y: scroll;
  list-style-type: none;
}

#form-chat {
  width: 100%;
  justify-content: space-between;
}

#input-chat {
  width: 85%;
}

/* Right Container */
#room-right-container {
  display: block;
  width: 50%;
  justify-content: space-evenly;
}

#room-code {
  display: flex;
  font-size: larger;
  justify-content: center;
}

#leave-button-container {
  display: flex;
  margin-top: 20%;
  justify-content: center;
}

#leave-button {
  height: 10vh;
  width: 20%;
}

#user-list {
  width: 100%;
  height: 50vh;
  display: block;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  overflow-y: scroll;
}

#user-list li {
  width: 100%;
}
