<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("layout/header.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
  </head>
  <body>
    <form id="name-form" action="/submit-name" method="post">
      <label for="name">Input name:</label><br><br>
      <input type="text" id="name" name="name" required><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
