<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("layout/header.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
  </head>
  <body>
    <div id="movie-list-container">
      <form action="#">
        <label for="code">Input code:</label><br />
        <input type="text" id="code" name="code" /><br />
      </form>
      <button id="join">Join</button>
      <h2 class="name">Hi <%= name %>, click on a movie to create room</h2>
      <% for (let movie of movies) { %>
      <div>
        <a class="movie" data-movieid=<%= movie.id %> data-name=<%= name %> ><%=movie.movie_name%></a>
      </div>
      <% } %>
    </div>
  </body>
  <script type="text/javascript" src="/scripts/movie.js"></script>
</html>
