<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("layout/header.ejs") %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
  </head>
  <body
    id="room"
    data-name="<%= name %>"
    data-code="<%= code %>"
    data-host="<%= host %>"
    data-movieid="<%= movie_id %>"
    data-time="<%= time %>"
  >
    <div id="room-left-container">
      <div id="video-container">
        <video src="<%= movie_url %>" id="video" autoplay></video>
        <div id="video-controls">
          <button type="button" id="play-pause" class="play">Play</button>
          <input type="range" id="seek-bar" value="0" />
          <input
            type="range"
            id="volume-bar"
            min="0"
            max="1"
            step="0.1"
            value="1"
          />
        </div>
      </div>
      <div id="chat-box">
        <ul id="messages"></ul>
        <form id="form-chat" action="">
          <input id="input-chat" autocomplete="off" />
          <button>Send</button>
        </form>
      </div>
    </div>
    <div id="room-right-container">
      <form id="leave-button-container" action="/room/leave" method="get">
        <input id="leave-button" type="submit" value="Leave Room" />
      </form>
      <p id="room-code">Room code: <b><%= code %></b></p>
      <ul id="user-list"></ul>
    </div>
  </body>
  <script type="text/javascript" src="/scripts/room.js"></script>
</html>
